.form {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}

.input-delay {
  width: auto;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
}

.input-delay:focus {
  border-color: #4e75ff;
}

.input-delay:hover {
  border-color: #000;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  max-height: 64px;
  border-radius: 4px;
  border: 1px solid #808080;
}

fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

legend {
  text-align: start;
}

fieldset:hover {
  border-color: #000;
}

.btn-submit {
  padding: 8px 16px;
  max-width: 360px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
}

.btn-submit:hover {
  background: #6c8cff;
}
